
@{
    ViewBag.Title = "SellProducto";
}

<div class="container mx-auto text-center" style="width: 400px;">
    <h2>Venta de productos</h2>
</div>

<div class="container">
    <div class="row" style="width: 100%;">

        <div class="card m-1">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <label class="">Fecha:</label>
                        @*datetime*@
                        <input type="text" readonly class="form-control" id="DateTime" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="col-md-4">
                        <label class="">Selecciona el cliente:</label>
                        <select id="Cliente" class="form-select" aria-label="Cliente">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-1">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <label class="">Selecciona el producto:</label>
                        <select id="Producto" class="form-select" aria-label="Cliente">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="">Cantidad:</label>
                        <input id="Cantidad" type="number" pattern="^[1-9]\d*$" onkeypress="return soloNumeros(event);" class="form-control" style="Text-align:Center" min="1" step="1" value="">
                    </div>
                    <div class="m-2 text-center">
                        <input type="button" class="btn btn-primary" id="AddTable" value="Agregar" disabled />
                    </div>
                </div>
            </div>
        </div>


        <div class="card m-1">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="table-responsive">
                        <table id="TableProd" class="table table-striped">
                            <tr>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Eliminar</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-1">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-sm-2 m-1">
                        <label for="inputPassword6" class="col-form-label justify-content-end align-items-end">Total:</label>
                    </div>
                    <div class="col-sm-4 m-1">
                        <input type="number" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" disabled>
                    </div>
                    <div class="col-sm-2 m-1">
                        <input type="submit" onclick="EnviarProd()" class="btn btn-success" value="Guardar compra" />
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        /**
         * Función que solo permite la entrada de numeros, un signo negativo y
         * un punto para separar los decimales
         */
        function soloNumeros(e) {
            // capturamos la tecla pulsada
            var teclaPulsada = window.event ? window.event.keyCode : e.which;

            // capturamos el contenido del input
            var valor = document.getElementById("Cantidad").value;

            // 45 = tecla simbolo menos (-)
            // Si el usuario pulsa la tecla menos, y no se ha pulsado anteriormente
            // Modificamos el contenido del mismo añadiendo el simbolo menos al
            // inicio
            if (teclaPulsada == 45 && valor.indexOf("-") == -1) {
                document.getElementById("Cantidad").value = "" + valor;
            }

            // 13 = tecla enter
            // 46 = tecla punto (.)
            // Si el usuario pulsa la tecla enter o el punto y no hay ningun otro
            // punto
            if (teclaPulsada == 13 || (teclaPulsada == 46 && valor.indexOf(".") == -1)) {
                return true;
            }

            // devolvemos true o false dependiendo de si es numerico o no
            return /\d/.test(String.fromCharCode(teclaPulsada));
        }
    </script>
    <script>
        let activador = document.getElementById("Cantidad")
        activador.addEventListener("mousemove", () => {
            if (activador.value > 0 && activador.value != '') {
                document.getElementById("AddTable").disabled = false
            } else {
                document.getElementById("AddTable").disabled = true
            }
        })
    </script>
    <script>
        var cantidad = document.getElementById("Cantidad").value;
        
            $(document).ready(function () {
                //obtenemos el valor de los input

                $('#AddTable').click(function () {
                    var fecha = document.getElementById("DateTime").value;
                    var cliente = document.getElementById("Cliente").value;
                    var producto = document.getElementById("Producto").value;
                    var cantidad = document.getElementById("Cantidad").value;
                    /*var precio = document.getElementById("Precio").value;*/


                    var i = 1; //contador para asignar id al boton que borrara la fila
                    var fila = '<tr id="row' + i + '"><td id="fechaf">' + fecha + '</td><td id="clientef">' + cliente + '</td><td id="productof">' + producto + '</td><td id="cantidadf">' + cantidad + /*'</td><td>' + precio +*/'</td><td><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove">Quitar</button></td></tr>'; //esto seria lo que contendria la fila

                    i++;

                    $('#TableProd tr:first').after(fila);
                    //$("#AddTable").text(""); //esta instruccion limpia el div adicioandos para que no se vayan acumulando
                    var nFilas = $("#TableProd tr").length;
                    $("#AddTable").append(nFilas - 1);
                    //le resto 1 para no contar la fila del header
                    //document.getElementById("DateTime").value = "";
                    //document.getElementById("Cliente").value = "";
                    //document.getElementById("Producto").value = "";
                    //document.getElementById("Cantidad").value = "";
                    //document.getElementById("Cantidad").focus();
                    ///*document.getElementById("Precio").value;*/


                });
                $(document).on('click', '.btn_remove', function () {
                    var button_id = $(this).attr("id");
                    //cuando da click obtenemos el id del boton
                    $('#row' + button_id + '').remove(); //borra la fila
                    //limpia el para que vuelva a contar las filas de la tabla
                    //$("#AddTable").text("");
                    //var nFilas = $("#TableProd tr").length;
                    //$("#AddTable").append(nFilas - 1);
                });
            });
        
    </script>

    <script>
        let urlEP = "@Url.Content("~/Productos/ProductosPost")";

        //function ActProd() {
        //    var data = [];
        //    $("td.totalprice").each(function () {
        //        data.push(parseFloat($(this).text()));
        //    });


        //    var suma = data.reduce(function (a, b) { return a + b; }, 0);

        //    console.log(data);
        //    console.log(suma);
        //    document.getElementById("val").innerHTML = suma.toFixed(2);
        //}

        function EnviarProd() {
            let filas = [];

            $('#TableProd tbody tr').each(function () {
                //let Id_Reclamacion = document.getElementById('Id_rec').value;
                //let Numero_Pedido = document.getElementById('inputNumeroPedido').value;
                let fecha = $(this).find('td').eq(0).text();
                let cliente = $(this).find('td').eq(1).text();
                let producto = $(this).find('td').eq(2).text();
                let cantidad = $(this).find('td').eq(3).text();

            /* let Importe_Total = document.getElementById('val').innerHTML;*/

            var fila = {
                fecha,
                cliente,
                producto,
                cantidad
            };

                filas.push(fila);
                console.log(filas);
            fetch(urlEP, {
                method: "POST",
                headers: {
                    'Accept': "application/json",
                    'Content-Type': "application/json"
                },
                body: JSON.stringify(filas),
            }).then(function (response) {
                if (response.ok)
                    return response.json()
                else
                    alert("Error al ejecutar")
            }).then(function (Data) {
                if (Data != "1") {
                    Swal.fire({
                        title: 'Error',
                        text: Data,
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    })
                    //if (Data != "1") {
                    //    alert(Data)
                    //}
                } else {

                }
            }).catch(function (Data) {
                Swal.fire({
                    title: 'Error',
                    text: 'Existió un error',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                })
                //alert('Debes de asignar el ID de reclamacion');
            });
            });
        }
                
    </script>
}
